<select id="issue_assigned_to_id_not_grouped" style="display: none;">
  <option value=""/>
  <% unless users.index{|x| x.id == User.current.id}.nil? %>
    <option value="<%= User.current.id %>"><< <%= l(:label_me) %> >></option>
  <% end %>
  <% users.each do |user| %>
    <% if user.id != User.current.id %>
      <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  <% end %>
</select>

<script>
    //<![CDATA[
    $(function () {
        var selectedUserId = $('#issue_assigned_to_id').val();
        $('#issue_assigned_to_id').empty().html($('#issue_assigned_to_id_not_grouped').html());
        $('#issue_assigned_to_id').val(selectedUserId);
        selectedUserId = $('#issue_assigned_to_id').val();
        $('#issue_assigned_to_id').val(selectedUserId);
    })
    //]]>
</script>
